


body {
	background: linear-gradient(#ffffff 1%, #444444 90%);
	color: #444444;
	font-family: Helvetica;
	text-align: center;
}

h1 {
	margin-top: 4em;
  margin-bottom: 2em;
}

.carousel-container {
  max-width: 600px;
  width: 100%;
  height: 500px;
  overflow:hidden;
  margin-right: 1em;
  margin-left:1em;
  margin: 0 auto;
  margin-bottom: 3em;
  position: relative;
  box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .7);


  
}


.carousel-slide {
	
	margin-right: 2em;
	position: absolute;
	display: flex;
	left: 0;

  

	
}




#previousBtn{

   position: absolute;

   top: 50%;
   height:20px;
   z-index: 10;
   padding: 15px;
    left: 5%;
    font-size: 30px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-image: url("../images/arrowleft.png");
    cursor: pointer;
}
#nextBtn{
    position: absolute;
    border:none;
    top: 50%;
    height:20px;
    padding: 15px;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-image: url("../images/arrowright.png");
    
    cursor: pointer;
}



img {
	
	height: 500px;
	width: auto;
	margin: 0;
	text-align: center;


}


